/*
    Colors:
    blue: #4b61d1;
    dark blue: #120945;
    gray: #d4d7f5;
    green: #008c45;
    pink: #ff69b4;
    yellow: #f2ad41;
    white: #f4f5f0;
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background-color: #120945;
   font-family: 'Livvic', sans-serif;
   line-height: 1;
}

h1 {
   font-size: 26px;
   color: #ff69b4;
   margin: 16px;
}

img {
   max-width: 100%;
}

.container {
   width: 350px;
   margin: 24px auto 0 auto;
}

header {
   text-align: center;
}

.preview {
   width: 350px;
   height: 350px;
   background-color: #4b61d1;
}